#reddit-logo {
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    background:  #FFFFFF;
    top:0; 
    padding: 0.3em;
    border-bottom: 1px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
}